<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diaval</title>
    <!-- Referensi CSS Bootstrap dari CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" type="style.css" href="">
  </head>
  <body>
    <!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Diamond Price</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    

      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">

      <title>Diaval  - Index</title>
      <meta content="" name="description">
      <meta content="" name="keywords">

      <!-- Favicons -->
      <link href="static/assets/img/favicon.png" rel="icon">
      <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

      <!-- Vendor CSS Files -->
      <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
      <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
      <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
      <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
      <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

      <!-- Template Main CSS File -->
      <link href="static/assets/css/style.css" rel="stylesheet">
</head>
<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">diaval@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Diaval<span>.</span></a></h1>
      <!---<a href="index.html" class="logo"><img src="assets/img/diaval.png" alt=""></a>--->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#prediction">Prediction</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <span>Diaval</span></h1>
      <h2>Understanding the Depths of Purity: Diamonds and Their Incomparable Beauty</h2>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
        
      </div>
    </div>
  </section>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>

          <h3>Find Out More <span>About Us</span></h3>       
        </div>
        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="200">
            <a href="static/assets/img/diaval.png" data-lightbox="image-1" data-title="Diaval">
                <img src="static/assets/img/diaval1.png" class="img-fluid" alt="">
            </a>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <h5 class="fst-italic text-justify">
             Diaval is a method that uses machine learning algorithms to predict the prices of various types of gemstones, including diamonds. In this application, data about diamonds, such as size, color, and quality, is used to train a machine learning model, which is then used to predict future diamond prices. This allows for more accurate diamond price predictions, helping diamond businesses make strategic decisions about pricing and procurement.
            </h5>                
          </div>
        </div>

      </div>
    </section>

    <!-- ======= Predict Section ======= -->
    <section id="prediction" class="prediction">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-container">
                    <h2 class="text-center">Diaval </h2>
                    <form action="/predict" method="post">
                        <div class="form-group">
                            <label for="carat" class="form-label">Carat:</label>
                            <input type="text" class="form-control" id="carat" name="carat" required>
                        </div>

                        <div class="form-group">
                            <label for="cut" class="form-label">Cut:</label>
                            <select class="form-control" id="cut" name="cut" required>
                                <option value="">Pilih Cut</option>
                                <option value="Ideal">Ideal</option>
                                <option value="Premium">Premium</option>
                                <option value="Very Good">Very Good</option>
                                <option value="Good">Good</option>
                                <option value="Fair">Fair</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="color" class="form-label">Color:</label>
                            <select class="form-control" id="color" name="color" required>
                                <option value="">Pilih Color</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                                <option value="G">G</option>
                                <option value="H">H</option>
                                <option value="I">I</option>
                                <option value="J">J</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="clarity" class="form-label">Clarity:</label>
                            <select class="form-control" id="clarity" name="clarity" required>
                                <option value="">Pilih Clarity</option>
                                <option value="IF">IF</option>
                                <option value="VVS1">VVS1</option>
                                <option value="VVS2">VVS2</option>
                                <option value="VS1">VS1</option>
                                <option value="VS2">VS2</option>
                                <option value="SI1">SI1</option>
                                <option value="SI2">SI2</option>
                                <option value="I1">I1</option>
                                <option value="I2">I2</option>
                                <option value="I3">I3</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="depth" class="form-label">Depth (%):</label>
                            <input type="number" step="any" class="form-control" id="depth" name="depth" required>
                        </div>

                        <div class="form-group">
                            <label for="table" class="form-label">Table (%):</label>
                            <input type="number" step="any" class="form-control" id="table" name="table" required>
                        </div>

                        <div class="form-group">
                            <label for="x" class="form-label">x:</label>
                            <input type="number" step="any" class="form-control" id="x" name="x" required>
                        </div>

                        <div class="form-group">
                            <label for="y" class="form-label">y:</label>
                            <input type="number" step="any" class="form-control" id="y" name="y" required>
                        </div>

                        <div class="form-group">
                            <label for="z" class="form-label">z:</label>
                            <input type="number" step="any" class="form-control" id="z" name="z" required>
                        </div>


                        <button type="submit" class="btn btn-custom btn-block">Predict</button>
                        
                    </form>
                    <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="result-container">
                                <h4 class="text-center">Prediction Result</h4>
                                <p class="text-center">The predicted price of the diamond is: <strong>{{ prediction }}</strong></p>        
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </section><!-- End Predict Section -->

    <!-- ======= Team Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/team/team1.jpg" class="testimonial-img" alt="">
                <h3>Rina</h3>
                <h4>Team Leader &amp; Back-end</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The strongest actions for a woman is to love herself, be herself, and shine amongst those who never believed she could.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/team/d1.jpg" class="testimonial-img" alt="">
                <h3>Muhammad Davin Dwi Prastiyo</h3>
                <h4>UI/UX Designer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Rasa lelah yang kamu rasakan akan berbanding lurus dengan insiprasi yang kamu dapatkan.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/team/m1.jpg" class="testimonial-img" alt="">
                <h3> Nur Amilatus Sholikah</h3>
                <h4>Technical Writter</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Bertempurlah hingga hancur lebur, dunia boleh kejam kepadamu, tapi kamu harus lebih gila dari kejamnya dunia.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/team/r1.jpg" class="testimonial-img" alt="">
                <h3>Ronaldo Eka Huanghu</h3>
                <h4>Ml Engineer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  hidup akan jauh lebih nikmat jika ditemani dengan secangkir kopi.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/team/t1.jpg" class="testimonial-img" alt="">
                <h3> Muchammad Thoriq Ismail</h3>
                <h4>Data engineer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Not making a decision means forgoing an opportunity.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/team/i1.jpg" class="testimonial-img" alt="">
                <h3>Iin Andryani</h3>
                <h4>Front-end</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Be brave, never give up!
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>

    

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright by <strong><span>Group 3 Gamma </span></strong>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>
  <!-- Referensi JS Bootstrap dari CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>